<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gautam Chekuri" />
    <meta name="description" content="">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28492578-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>

  </head>

  <body>
    
    <div class="container-fluid">

      <div class="row-fluid">
        <div class="span12">
          <img src="/images/quineloop_logo_small.png" style="float:right;" />
          <h1>
            <a href="/" class="menu_link">Quineloop</a>
          </h1>
          ['Gautam Chekuri', 'gautam.chekuri@gmail.com', '<a href="http://github.com/gautamc">http://github.com/gautamc</a>']
        </div>
      </div>
     
      <div class="row-fluid">

        <div class="span12">
          {{ content }}
        </div>

      </div>
	
    </div>

    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
  
</html>
